/*:root {
	--main-color: white;
	--font-color: black;

	--accent-color: #D3D3D3;

	--feeling-bad-color: #c0392b;
	--relaxed-color: #2ecc71;
	--energized-color: #e74c3c;
	--focused_color: #f1c40f;
}*/

/* blue grey light */
:root {
	--primary-color: #ffffff;
	--font-color: #000000;

	--dark-color: #D3D3D3;
	--light-color: #ffffff;

	--stressed-color: #00b2a5;
	--tired-color: #4F49FE;
	--confused-color: #3F7687;

	--relaxed-color: #00b2a5;
	--energized-color: #4F49FE;
	--focused-color: #3F7687;

	--main-font: "Lato-Regular", sans-serif;
	--bold-font: "Lato-Black", sans-serif;

	--logo-filter: invert(0%);
}

/* blue grey dark */
/*
:root {
	--primary-color: #263238;
	--font-color: #ffffff;

	--dark-color: #000a12;
	--light-color: #4f5b62;

	--stressed-color: #c0392b;
	--tired-color: #3f51b5;
	--confused-color: #00796b;

	--relaxed-color: #2ecc71;
	--energized-color: #e74c3c;
	--focused-color: #f1c40f;

	--main-font: "Lato-Regular", sans-serif;
	--bold-font: "Lato-Black", sans-serif;

	--logo-filter: invert(100%);
}*/

/* pages */

.logo_container {
	width: 300px;
	height: 300px;
	text-align: center;
	line-height: 300px;
}

.logo_container img {
	vertical-align: middle;
}


#splashPage, #greetingPage, #feelPage, #pairingPage {
	background-color: var(--primary-color);
}

#feelButtonContainer {
	line-height: 10vh;
}

/*
#logoText {
	font-family: "FuturaCdExBd", sans-serif;
	font-size: 7vh;
	font-weight: 900;
	font-stretch: extra-condensed;
	color: var(--font-color);
}

#logoSubText {
	font-family: "HelveticaFr", sans-serif;
	font-size: 3vh;
	color: var(--font-color);
}*/

#greetingText, #pairingText {
	font-family: var(--main-font);
	font-size: 4vh;
	color: var(--font-color);
}

#feelText {
	font-family: var(--main-font);
	font-size: 3vh;
	color: var(--font-color);
}

#back  {
	font-family: var(--bold-font);
	font-size: 3vh;
	color: var(--font-color);
}

#footer {
	background-color: var(--dark-color);
}

/* feels */
/* pages */
#relaxedPage, #energizedPage, #focusedPage {
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 3s;
	-webkit-transition-timing-function: ease-in-out;
	z-index: 10;
}

#relaxedPage {
	background-color: var(--relaxed-color);
}

#energizedPage {
	background-color: var(--energized-color);
}

#focusedPage {
	background-color: var(--focused-color);
}

/* page transition colors */
#relaxedPage.transit, #energizedPage.transit, #focusedPage.transit {
	background-color: var(--primary-color);
}

/* feel texts */
#relaxedText, #energizedText, #focusedText {
	font-family: var(--bold-font);
	font-size: 25vh;
	-webkit-transition-property: color;
	-webkit-transition-duration: 3s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	z-index: 10;
}

#relaxedText {
	color: var(--relaxed-color);
}

#energizedText {
	color: var(--energized-color);
}

#focusedText {
	color: var(--focused-color);
}

/* text transitions */
#relaxedText.easein, #energizedText.easein, #focusedText.easein {
	color: var(--primary-color);
}

#relaxedText.transit {
	color: var(--relaxed-color);
}

#energizedText.transit {
	color: var(--energized-color);
}

#focusedText.transit {
	color: var(--focused-color);
}

/**/
#stressedContainer, #tiredContainer, #confusedContainer {
	font-family: var(--bold-font);
	font-size: 6vh;
	text-align: center;
	padding: 1vh;

}

#stressedContainer {
	color: var(--stressed-color);
}

#tiredContainer{
	color: var(--tired-color);
}

#confusedContainer {
	color: var(--confused-color);
}

#dayButtonContainer, #weekButtonContainer {
	font-family: var(--bold-font);
	font-size: 3vh;
	text-align: center;
	padding: 1vh;
	color: var(--font-color);
}

.menu_separator {
	font-family: var(--bold-font);
	font-size: 4vh;
	text-align: center;
}

/*
#stressedPage {
	background-color: var(--stressed-color);
}

#tiredPage {
	background-color: var(--tired-color);
}

#confusedPage {
	background-color: var(--confused-color);
}
*/

.baseCircle {
	-webkit-transition-duration: 10s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
	border-radius: 100%;
	padding: 10vh;
	width: 0px;
	height: 0px;
	z-index: 10;
}

#stressedCircle {
	background: var(--relaxed-color);
}

#tiredCircle {
	background: var(--energized-color);
}

#confusedCircle {
	background: var(--focused-color);
}

/*
@media(orientation: landscape) {
	.extendedCircle {
		width: 109vw;
		height: 109vw;
	}
}
*/

/* asd */
/*@media(orientation: portrait) {
	.extendedCircle {
		width: 98vh;
		height: 98vh;
	}
}*/

.extendedCircle {
	width: 94vh;
	height: 94vh;
}

@font-face {
	font-family: "FuturaCdExBd";
	src: url("../Fonts/FuturaStd/FuturaStd-CondensedExtraBd.otf")
	format("opentype");
}

@font-face {
	font-family: "HelveticaFr";
	src: url("../Fonts/Helvetica/HelveticaLTStd-Fractions.otf")
	format("opentype");
}

@font-face {
	font-family: "HelveticaBlkCd";
	src: url("../Fonts/Helvetica/HelveticaLTStd-BlkCond.otf")
	format("opentype");
}

@font-face {
	font-family: "HelveticaNeueLTStd-Blk";
	src: url("../Fonts/Helvetica/HelveticaNeueLTStd-Blk.otf")
	format("opentype");
}

@font-face {
	font-family: "Lato-Black";
	src: url("../Fonts/Lato/Lato-Black.ttf")
	format("truetype");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("../Fonts/Lato/Lato-Regular.ttf")
	format("truetype");
}


/* stuff */
.logo {
	width: 50vw;
	height: 20vh;
	margin-left: 25vw;
	margin-top: 40vh;
	filter: var(--logo-filter);
}